In [25]:
import pandas as pd

In [26]:
alibaba_batch_task_df = pd.read_csv('data/alibaba/batch_task_chunk_10000.csv')
alibaba_batch_task_df.head()

,task_name,instance_num,job_name,task_type,status,start_time,end_time,plan_cpu,plan_mem
0,M1,1.0,j_1,1,Terminated,419912,419912,100.0,0.20
1,R2_1,1.0,j_2,1,Terminated,87076,87086,50.0,0.20
2,M1,1.0,j_2,1,Terminated,87076,87083,50.0,0.20
3,R6_3,371.0,j_3,1,Terminated,157297,157325,100.0,0.49
4,J4_2_3,1111.0,j_3,1,Terminated,157329,157376,100.0,0.59

In [27]:
alibaba_batch_task_df = alibaba_batch_task_df[alibaba_batch_task_df['status'] == 'Terminated']
alibaba_batch_task_df.head()

,task_name,instance_num,job_name,task_type,status,start_time,end_time,plan_cpu,plan_mem
0,M1,1.0,j_1,1,Terminated,419912,419912,100.0,0.20
1,R2_1,1.0,j_2,1,Terminated,87076,87086,50.0,0.20
2,M1,1.0,j_2,1,Terminated,87076,87083,50.0,0.20
3,R6_3,371.0,j_3,1,Terminated,157297,157325,100.0,0.49
4,J4_2_3,1111.0,j_3,1,Terminated,157329,157376,100.0,0.59

In [28]:
alibaba_batch_task_df = alibaba_batch_task_df.sort_values(by='start_time', ascending=True)
alibaba_batch_task_df.reset_index(drop=True, inplace=True)
alibaba_batch_task_df.head()

,task_name,instance_num,job_name,task_type,status,start_time,end_time,plan_cpu,plan_mem
0,M2,40.0,j_1661,1,Terminated,86207,86485,50.0,0.39
1,J7_1_2_6,1.0,j_1661,1,Terminated,86207,86622,50.0,0.20
2,M3,1.0,j_1661,1,Terminated,86207,86210,50.0,0.20
3,R4_3,1.0,j_1661,1,Terminated,86207,86212,50.0,0.20
4,M5_4,17.0,j_1661,1,Terminated,86207,86300,50.0,0.39

In [29]:
status_categories = alibaba_batch_task_df['status'].unique()
print(status_categories)
alibaba_batch_task_df = alibaba_batch_task_df.drop(columns=['status','job_name'])
alibaba_batch_task_df.head()

['Terminated']

  task_name  instance_num  task_type  start_time  end_time  plan_cpu  plan_mem
0        M2          40.0          1       86207     86485      50.0      0.39
1  J7_1_2_6           1.0          1       86207     86622      50.0      0.20
2        M3           1.0          1       86207     86210      50.0      0.20
3      R4_3           1.0          1       86207     86212      50.0      0.20
4      M5_4          17.0          1       86207     86300      50.0      0.39

In [30]:
# Use pd.get_dummies for one-hot encoding
one_hot_encoded = pd.get_dummies(alibaba_batch_task_df['task_type'], prefix='task_type')

# Convert the boolean values to integers
one_hot_encoded = one_hot_encoded.astype(int)

# Concatenate the one-hot encoded columns to the original DataFrame
alibaba_batch_task_df = pd.concat([alibaba_batch_task_df, one_hot_encoded], axis=1)

# Display the resulting DataFrame
alibaba_batch_task_df.head()

,task_name,instance_num,task_type,start_time,end_time,plan_cpu,plan_mem,task_type_1,task_type_3,task_type_4,task_type_5,task_type_6,task_type_8,task_type_9,task_type_10,task_type_11,task_type_12
0,M2,40.0,1,86207,86485,50.0,0.39,1,0,0,0,0,0,0,0,0,0
1,J7_1_2_6,1.0,1,86207,86622,50.0,0.20,1,0,0,0,0,0,0,0,0,0
2,M3,1.0,1,86207,86210,50.0,0.20,1,0,0,0,0,0,0,0,0,0
3,R4_3,1.0,1,86207,86212,50.0,0.20,1,0,0,0,0,0,0,0,0,0
4,M5_4,17.0,1,86207,86300,50.0,0.39,1,0,0,0,0,0,0,0,0,0

In [31]:
import pandas as pd

def determine_task_category(task_name):
    if task_name == 'MergeTask':
        return '1' #merge
    elif task_name.startswith('M'):
        return '2'
    elif task_name.startswith('J'):
        return '3'
    elif task_name.startswith('R'):
        return '4'
    else:
        return '0' #independent

alibaba_batch_task_df['task_category'] = alibaba_batch_task_df['task_name'].apply(determine_task_category)

# Use pd.get_dummies for one-hot encoding
one_hot_encoded = pd.get_dummies(alibaba_batch_task_df['task_category'], prefix='task_category')

# Convert the boolean values to integers
one_hot_encoded = one_hot_encoded.astype(int)

# Concatenate the one-hot encoded columns to the original DataFrame
alibaba_batch_task_df = pd.concat([alibaba_batch_task_df, one_hot_encoded], axis=1)

# Display the resulting DataFrame
alibaba_batch_task_df.head()

,task_name,instance_num,task_type,start_time,end_time,plan_cpu,plan_mem,task_type_1,task_type_3,task_type_4,...,task_type_9,task_type_10,task_type_11,task_type_12,task_category,task_category_0,task_category_1,task_category_2,task_category_3,task_category_4
0,M2,40.0,1,86207,86485,50.0,0.39,1,0,0,...,0,0,0,0,2,0,0,1,0,0
1,J7_1_2_6,1.0,1,86207,86622,50.0,0.20,1,0,0,...,0,0,0,0,3,0,0,0,1,0
2,M3,1.0,1,86207,86210,50.0,0.20,1,0,0,...,0,0,0,0,2,0,0,1,0,0
3,R4_3,1.0,1,86207,86212,50.0,0.20,1,0,0,...,0,0,0,0,4,0,0,0,0,1
4,M5_4,17.0,1,86207,86300,50.0,0.39,1,0,0,...,0,0,0,0,2,0,0,1,0,0

In [32]:
# Split task_name by "_" and extract the numbers
alibaba_batch_task_df['task_name'] = alibaba_batch_task_df['task_name'].str.replace('[RJM]', '', regex=True)
alibaba_batch_task_df['numbers'] = alibaba_batch_task_df['task_name'].apply(lambda x: [int(num) for num in x.split('_') if num.isdigit()])
alibaba_batch_task_df['main_task'] = alibaba_batch_task_df['numbers'].apply(lambda x: x[0] if len(x) > 0 else 0)

# Create columns for job_1, job_2, job_3...
for i in range(1, 58):
    col_name = f'job_{i}'
    alibaba_batch_task_df[col_name] = alibaba_batch_task_df['numbers'].apply(lambda x: 1 if i in x else 0)

alibaba_batch_task_df.drop(columns=['numbers'], inplace=True)
alibaba_batch_task_df.drop(columns=['task_name'], inplace=True)
alibaba_batch_task_df.drop(columns=['task_type'], inplace=True)
alibaba_batch_task_df.drop(columns=['task_category'], inplace=True)

alibaba_batch_task_df.head()

,instance_num,start_time,end_time,plan_cpu,plan_mem,task_type_1,task_type_3,task_type_4,task_type_5,task_type_6,...,job_48,job_49,job_50,job_51,job_52,job_53,job_54,job_55,job_56,job_57
0,40.0,86207,86485,50.0,0.39,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,86207,86622,50.0,0.20,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,86207,86210,50.0,0.20,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,86207,86212,50.0,0.20,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17.0,86207,86300,50.0,0.39,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
alibaba_batch_task_df['instance_num'] = alibaba_batch_task_df['instance_num'].astype(int)
alibaba_batch_task_df.dropna(inplace=True)
#alibaba_batch_task_df = alibaba_batch_task_df.iloc[:, 0:2].join(alibaba_batch_task_df.iloc[:, 2:])
#alibaba_batch_task_df = alibaba_batch_task_df.iloc[:, 7:]
alibaba_batch_task_df.to_csv('data/alibaba/batch_task_chunk_preprocessed_10000.csv', index=False)

In [34]:
alibaba_batch_task_df.head()

,instance_num,start_time,end_time,plan_cpu,plan_mem,task_type_1,task_type_3,task_type_4,task_type_5,task_type_6,...,job_48,job_49,job_50,job_51,job_52,job_53,job_54,job_55,job_56,job_57
0,40,86207,86485,50.0,0.39,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,86207,86622,50.0,0.20,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,86207,86210,50.0,0.20,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,86207,86212,50.0,0.20,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,86207,86300,50.0,0.39,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
alibaba_batch_task_df.describe()

,instance_num,start_time,end_time,plan_cpu,plan_mem,task_type_1,task_type_3,task_type_4,task_type_5,task_type_6,...,job_48,job_49,job_50,job_51,job_52,job_53,job_54,job_55,job_56,job_57
count,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000,...,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000,9848.000000
mean,89.347685,392029.992994,392115.811028,88.444862,0.359319,0.856214,0.002742,0.000203,0.039500,0.074634,...,0.000305,0.000203,0.000102,0.000203,0.000203,0.000203,0.000203,0.000203,0.000203,0.000102
std,852.341155,176891.607226,176879.185972,70.506919,0.315557,0.350890,0.052292,0.014250,0.194792,0.262814,...,0.017452,0.014250,0.010077,0.014250,0.014250,0.014250,0.014250,0.014250,0.014250,0.010077
min,1.000000,86207.000000,86210.000000,5.000000,0.030000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,239498.500000,239653.500000,50.000000,0.200000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,385044.000000,385047.500000,100.000000,0.300000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,545810.000000,545819.250000,100.000000,0.390000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,42188.000000,691171.000000,691174.000000,700.000000,2.350000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [36]:
import pandas as pd
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset

# Assuming alibaba_batch_task_df is already loaded
features = alibaba_batch_task_df.drop(columns=['instance_num', 'start_time', 'end_time', 'plan_cpu', 'plan_mem', 'main_task'])

# Convert data to PyTorch tensors
features_tensor = torch.tensor(features.values, dtype=torch.float32)
dataset = TensorDataset(features_tensor, features_tensor)
dataloader = DataLoader(dataset, batch_size=32, shuffle=True)

# Define the autoencoder model
class Autoencoder(nn.Module):
    def __init__(self, input_dim, encoding_dim):
        super(Autoencoder, self).__init__()
        self.encoder = nn.Sequential(
            nn.Linear(input_dim, encoding_dim),
            nn.ReLU(True)
        )
        self.decoder = nn.Sequential(
            nn.Linear(encoding_dim, input_dim),
            nn.Sigmoid()
        )

    def forward(self, x):
        x = self.encoder(x)
        x = self.decoder(x)
        return x

input_dim = features.shape[1]
encoding_dim = 8  # Adjust based on your needs
autoencoder = Autoencoder(input_dim, encoding_dim)

# Training the autoencoder
criterion = nn.MSELoss()
optimizer = optim.Adam(autoencoder.parameters(), lr=0.001)
num_epochs = 100

for epoch in range(num_epochs):
    for data in dataloader:
        inputs, _ = data
        outputs = autoencoder(inputs)
        loss = criterion(outputs, inputs)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

# Encode the data
encoded_data = autoencoder.encoder(features_tensor).detach().numpy()
print(encoded_data)

# Decode the data
decoded_data = autoencoder.decoder(torch.tensor(encoded_data, dtype=torch.float32)).detach().numpy()

# Reconstruct the original DataFrame with decoded features
reconstructed_data = pd.DataFrame(decoded_data, columns=features.columns)
final_df = pd.concat([alibaba_batch_task_df[['instance_num', 'start_time', 'end_time', 'plan_cpu', 'plan_mem', 'main_task']], reconstructed_data], axis=1)

print(final_df.head())

[[ 0.          1.314434    4.5548897  ...  5.5135765   7.0383806
   4.6431255 ]
 [ 3.6849375   0.         13.314522   ...  6.7192287   6.898391
   4.4173555 ]
 [ 0.38074183  3.9645257   1.2894323  ...  4.3240604   7.55591
   4.053588  ]
 ...
 [ 0.          1.314434    4.5548897  ...  5.5135765   7.0383806
   4.6431255 ]
 [ 0.97071695  2.2372897   4.6570997  ...  7.074973    5.085159
   5.0871353 ]
 [ 0.97071695  2.2372897   4.6570997  ...  7.074973    5.085159
   5.0871353 ]]
   instance_num  start_time  end_time  plan_cpu  plan_mem  main_task  \
0          40.0     86207.0   86485.0      50.0      0.39        2.0
1           1.0     86207.0   86622.0      50.0      0.20        7.0
2           1.0     86207.0   86210.0      50.0      0.20        3.0
3           1.0     86207.0   86212.0      50.0      0.20        4.0
4          17.0     86207.0   86300.0      50.0      0.39        5.0

   task_type_1   task_type_3   task_type_4   task_type_5  ...        job_48  \
0          1.0  2.270947e-17  8.587640e-11  1.041158e-14  ...  4.506645e-10
1          1.0  0.000000e+00  3.207602e-15  5.598307e-25  ...  5.755163e-11
2          1.0  6.923688e-10  1.997867e-10  3.554516e-15  ...  2.608345e-10
3          1.0  2.683251e-17  1.470046e-11  3.301842e-16  ...  1.903973e-10
4          1.0  5.529222e-18  3.666527e-13  3.210171e-16  ...  9.979818e-13

         job_49        job_50        job_51        job_52        job_53  \
0  5.048904e-11  2.947034e-11  2.236796e-11  5.205149e-12  2.933285e-10
1  2.813504e-13  2.670317e-14  9.367226e-15  2.461437e-15  7.530601e-14
2  1.246847e-10  2.648234e-10  2.617919e-11  1.119266e-11  6.118636e-10
3  7.926364e-11  2.943371e-11  5.604164e-13  1.694893e-12  4.820171e-11
4  1.776263e-13  1.793967e-14  6.808806e-15  5.559348e-15  7.129983e-13

         job_54        job_55        job_56        job_57
0  1.720164e-07  3.958336e-08  4.802783e-10  3.114853e-09
1  8.682745e-17  4.242948e-09  1.159392e-12  6.032749e-12
2  1.293559e-06  1.295051e-08  2.663232e-10  5.750298e-09
3  6.754013e-12  1.831746e-09  7.534678e-11  2.662831e-10
4  4.404836e-10  8.155586e-12  9.736501e-13  8.725696e-13

[5 rows x 78 columns]